@charset "utf-8";
/* 初始化设置*/
body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}

body{font-size:12px;}

img{border:none;}

li{list-style:none;}

input,select,textarea{outline:none;border: none;background: none;}/*ie6*/

textarea{resize:none;}

a{text-decoration:none;color:#656565;}

/* 清除浮动*/
.claerfix:after{content: "";display:block ;clear: both;}
.claerfix{zoom: 1;}

.fl{float: left;}
.fr{float: right;}
.fr li{cursor: pointer;}
.hide{display: none;}
.show{display: block;}
.data_error{
    color: red;
    margin: 0 auto;
    text-align: right;
    margin-left: 180px;
}
.takeoff{
  width: 1000px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}
.takeoff p{
  text-align: center;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  float: right;
  border: 1px solid lightgrey;
  background-color: lightblue;
}