<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/reset.css" rel="stylesheet">
        <link href="../css/barberIndex.css" rel="stylesheet">
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div id="home">
            <div class="headerl">
                <div class="headerBar comWidth">
                    <div class="logo fl"><img src="../images/barber.png" alt="TEASystem"/></div>
                    <div class="titleText fl" >lucky理发店</div>
                    <div class="navBar">
                        <ul class="fr">
                            <li>
                                <a href="barber.html">查看预约</a>
                            </li>
                            <li>
                                <a href="barber_time.html">时间安排</a>
                            </li>
                            <li>
                                <a href="barber_info.html">{{name}}</a>
                            </li>
                            <li v-on:click="login_out">
                                <a>退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content comWidth">
                <div class="takeoff"><p v-on:click="leave">请假</p></div>
                <div class="take_off" v-if="if_takeoff">
                    <div class="take_off_content" id="takeoff_time">
                        <label>请选择请假日期：</label>
                        <input v-on:click="show_calender" v-model="start_date">
                        <div v-if="canlender" class="canlender_choose">
                            <ul class="year">
                                <li class="arrow" @click="pickPre(currentYear,currentMonth)">❮</li>
                                <li class="year-month" @click="pickYear(currentYear,currentMonth)">
                                    <span class="choose-year">{{ currentYear }}</span>
                                    <span class="choose-month">{{ currentMonth }}月</span>
                                </li>
                                <li class="arrow" @click="pickNext(currentYear,currentMonth)">❯</li>
                            </ul>
                            <ul class="weekdays">
                                <li>一</li>
                                <li>二</li>
                                <li>三</li>
                                <li>四</li>
                                <li>五</li>
                                <li style="color:red">六</li>
                                <li style="color:red">日</li>
                            </ul>
                            <ul class="days">
                                <li @click="pick(day)" v-for="day in days">
                                    <!--今天-->
                                    <span v-if="day.getMonth()+1 != currentMonth" class="other-month">{{ day.getDate() }}</span>
                                    <span v-else>
                                        <!--今天-->
                                        <span v-if="day.getFullYear() == new Date().getFullYear() && day.getMonth() == new Date().getMonth() && day.getDate() == new Date().getDate()" class="active">{{ day.getDate() }}</span>
                                    <span v-else>{{ day.getDate() }}</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="takeoff_button">
                        <div class="takeoff_click" v-on:click="take_off_click">确定</div>
                        <div class="takeoff_concel" v-on:click="cancel">取消</div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </thead>
                    <tbody id="time_plan">
                        <tr id="one">
                            <td>{{data_time[0].startime}}</td>
                            <td>{{data_time[0].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[0].isblue}" v-on:click="show(0)">{{data_status[0].status}}</td>
                        </tr>
                        <tr id="two">
                            <td>{{data_time[1].startime}}</td>
                            <td>{{data_time[1].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[1].isblue}" v-on:click="show(1)">{{data_status[1].status}}</td>
                        </tr>
                        <tr id="three">
                            <td>{{data_time[2].startime}}</td>
                            <td>{{data_time[2].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[2].isblue}" v-on:click="show(2)">{{data_status[2].status}}</td>
                        </tr>
                        <tr id="four">
                            <td>{{data_time[3].startime}}</td>
                            <td>{{data_time[3].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[3].isblue}" v-on:click="show(3)">{{data_status[3].status}}</td>
                        </tr>
                        <tr id="five">
                            <td>{{data_time[4].startime}}</td>
                            <td>{{data_time[4].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[4].isblue}" v-on:click="show(4)">{{data_status[4].status}}</td>
                        </tr>
                        <tr id="six">
                            <td>{{data_time[5].startime}}</td>
                            <td>{{data_time[5].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[5].isblue}" v-on:click="show(5)">{{data_status[5].status}}</td>
                        </tr>
                        <tr id="seven">
                            <td>{{data_time[6].startime}}</td>
                            <td>{{data_time[6].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[6].isblue}" v-on:click="show(6)">{{data_status[6].status}}</td>
                        </tr>
                        <tr id="eight">
                            <td>{{data_time[7].startime}}</td>
                            <td>{{data_time[7].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[7].isblue}" v-on:click="show(7)">{{data_status[7].status}}</td>
                        </tr>
                        <tr id="nine">
                            <td>{{data_time[8].startime}}</td>
                            <td>{{data_time[8].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[8].isblue}" v-on:click="show(8)">{{data_status[8].status}}</td>
                        </tr>
                        <tr id="ten">
                            <td>{{data_time[9].startime}}</td>
                            <td>{{data_time[9].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[9].isblue}" v-on:click="show(9)">{{data_status[9].status}}</td>
                        </tr>
                        <tr id="eleven">
                            <td>{{data_time[10].startime}}</td>
                            <td>{{data_time[10].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[10].isblue}" v-on:click="show(10)">{{data_status[10].status}}</td>
                        </tr>
                        <tr id="twelve">
                            <td>{{data_time[11].startime}}</td>
                            <td>{{data_time[11].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[11].isblue}" v-on:click="show(11)">{{data_status[11].status}}</td>
                        </tr>
                        <tr id="thirth">
                            <td>{{data_time[12].startime}}</td>
                            <td>{{data_time[12].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[12].isblue}" v-on:click="show(12)">{{data_status[12].status}}</td>
                        </tr>
                        <tr id="forth">
                            <td>{{data_time[13].startime}}</td>
                            <td>{{data_time[13].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[13].isblue}" v-on:click="show(13)">{{data_status[13].status}}</td>
                        </tr>
                        <tr id="fifth">
                            <td>{{data_time[14].startime}}</td>
                            <td>{{data_time[14].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[14].isblue}" v-on:click="show(14)">{{data_status[14].status}}</td>
                        </tr>
                        <tr id="sixth">
                            <td>{{data_time[15].startime}}</td>
                            <td>{{data_time[15].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[15].isblue}" v-on:click="show(15)">{{data_status[15].status}}</td>
                        </tr>
                        <tr id="seventh">
                            <td>{{data_time[16].startime}}</td>
                            <td>{{data_time[16].endtime}}</td>
                            <td class="evaluation_link" v-bind:class="{'isblue':isblues[16].isblue}" v-on:click="show(16)">{{data_status[16].status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/vue-resource.min.js"></script>
        <script src="../js/barber_time.js"></script>
        <script>
        </script>
    </body>
</html>