<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="js/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery.easydropdown.js"></script>
<script src="js/responsiveslides.min.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
	<div id="index">
		<div class="banner-bg" id="home">
			<div class="container">
				<div class="header">
					<div class="logo">
							<a href="index.html"><h1>Fashion</h1><span>Change Your Hair Style<span></a>
					</div>
							
					<div class="top-nav" id="customer">										 
							<label class="mobile_menu" for="mobile_menu">
							<span>Menu</span>
							</label>
						<ul class="nav">
							<li><a class="active" href="index.html">首页</a></li>
							<li><a href="about.html">关于我们</a></li>
							<li class="dropdown1"><a href="order.html">美发预约</a>
								<ul class="dropdown2">
										<li><a href="order.html">剪发</a></li>
										<li><a href="order.html">烫发</a></li>
										<li><a href="order.html">染发</a></li>
										<li><a href="order.html">套餐</a></li>
								</ul>
							</li> 
							<li><a href="share.html">社区分享</a></li>   
								<li v-if="login_in"><a href="login.html">登录</a></li>
								<li v-if="if_login"><a href="#">{{name}}</a></li>
								<li v-if="if_login" v-on:click="login_out"><a href="#">退出</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
					</div>
					<!--点击公告里面的任何区域，则可以跳转到新闻页-->
						<div  id="top" class="callbacks_container"> 
							<ul class="rslides" id="slider4">
								<!--<li v-for="article in newData">
									<div class="banner-info" >
										<div class="article_title_index" v-on:click="news_click()">
											<h3>{{article.Title}}</h3>
										</div>
										<div class="line"></div>
										<div class="article_content_index" v-on:click="news_click()">
											{{article.Content}}
										</div>
									</div>
								</li>-->
								<li>
									<div class="banner-info">
										<div class="article_title_index" onclick="news_click()">
											<h3>{{article_title_one}}</h3>
										</div>
										<div class="line"></div>
										<div class="article_content_index" onclick="news_click()">
											{{article_content_one}}
										</div>
									</div>
								</li>
								<li>
									<div class="banner-info">
										<div class="article_title_index" onclick="news_click()">
											<h3>{{article_title_two}}</h3>
										</div>
										<div class="line"></div>
										<div class="article_content_index" onclick="news_click()">
											{{article_content_two}}
										</div>
									</div>
								</li>
								<li>
									<div class="banner-info">
										<div class="article_title_index" onclick="news_click()">
											<h3>{{article_title_three}}</h3>
										</div>
										<div class="line"></div>
										<div class="article_content_index" onclick="news_click()">
											{{article_content_three}}
										</div>
									</div>								
								</li>
							</ul>
					</div>
			</div>
		</div>
<!--start-banner-bottom-->
	<div class="banner-bottom-section">
		<div class="container">
			<div class="banner-bottom-info" style="width:100%" >
				<div class="col-md-3 b-grids" style="cursor:pointer;" v-for="barber in newBarbers">
					<div class="picture">
						<img src="images/god2.jpg" />
					</div>
					 <div class="album-box">
				   <h4>{{barber.Name}}</h4>
				     <p>{{barber.PersonalInfo}}</p>
				 </div>
				</div>
			<div class="clearfix">
				<div class="more_barber" v-on:click="show_barber">更多>></div>
			</div>
			</div>
     	</div>
    </div>
	<div class="copyright">
		<p>Copyright &copy; 2017 liushuyu</p>
	</div>
	</div>
		<script src="js/vue.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script src="js/index.js"></script>
		<!--公告滑动-->
			<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
				$('.events').append("<li>before event fired.</li>");
			},
			after: function () {
				$('.events').append("<li>after event fired.</li>");
			}
			});
	
		});
		function news_click(){
			window.location.href="news.html";
		}
		</script>
</body>
</html>