<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div class="banner-bg-one" id="home">
            <div class="container">
                <div class="header">
                    <div class="logo">
                            <a href="index.html"><h1>Fashion</h1><span>Change Your Hair Style<span></a>
                    </div>
                            
                    <div class="top-nav">										 
                            <label class="mobile_menu" for="mobile_menu">
                            <span>Menu</span>
                            </label>
                        <ul class="nav">
                            <li><a href="index.html">首页</a></li>
                            <li><a href="about.html">关于我们</a></li>
                            <li class="dropdown1"><a href="order.html">美发预约</a>
                            </li> 
                            <li><a class="active" href="share.html">社区分享</a></li>   
							<li v-if="login_in"><a href="login.html">登录</a></li>
							<li v-if="if_login"><a href="user_info.html">{{name}}</a></li>
							<li v-if="if_login" v-on:click="login_out"><a>退出</a></li>
                        </ul>
                    </div>
                    <div class="clearfix">
                    </div>
                    </div>
                    <div class="contents">
                        <div class="share">
                            <div class="publish">
                                <div class="publish_both">
                                    <div class="publish_by_one" v-on:click="publish">发表</div>
                                    <div class="search_article">
                                        <input value="" placeholder="请输入搜索文字" v-model="search_name" />
                                        <img src="images/search_one.png" alt="" class="search_on" v-on:click="search_share(1)"/>
                                    </div>
                                </div>
                            </div>
                            <div class="see_share" v-for="article in newData">
                                <div class="share_touxiang">
                                    <img v-bind:src="article.photo">
                                </div>
                                <div class="view">
                                    <div class="share_name">
                                        {{article.User.Name}}
                                    </div>
                                    <div class="share_content">
                                        {{article.Content}}
                                    </div>
                                    <!--<div class="share_image">
                                        {{article.title}}
                                    </div>-->
                                </div>
                                <div class="jiange"></div>
                                <input v-bind:id="article.Id" class="share_id" style="display:none" />
                                <div class="share_photo">
                                        <img v-bind:src="article.ImageUrl" class="min" onclick="show(value)">
                                </div>
                            </div>
                        </div>
                        <div class="page-bar">
                            <div class="return_page1" v-on:click="return_index">
                                返回
                            </div>
                            <div class="page_divide">
                                <ul>
                                    <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                                    <li v-if="cur==1"><a class="banclick">上一页</a></li>
                                    <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
                                        <a v-on:click="btnClick(index)">{{ index }}</a>
                                    </li>
                                    <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                                    <li v-if="cur == all"><a class="banclick">下一页</a></li>
                                    <li><a>共<i>{{all}}</i>页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
	<div class="copyright">
		<p>Copyright &copy; 2017 liushuyu</p>
	</div>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/share.js"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
    var data=document.getElementsByClassName("min");
    for(var i=0;i<data.length;i++){
        data[i].id=i;
    }
    var show=function(obj){
        console.log(obj);
        var ss=document.getElementsByClassName("share_id");
        var data=document.getElementsByClassName("min");
        var data1=document.getElementsByClassName("max");
        if(data1.length!=0){
            ss[i].setAttribute("class","min");
        }
        else{
            for(var i=0;i<data.length+data1.length;i++){
                if(ss[i].id+data[i].id==3){
                    data[i].setAttribute("class","max")
                    break;
                }
        }
            // data[i].addEventListener('click',i===data[i].id?function(){
            //     alert("lala");
            // }:function(){
            //     alert("asda");
            // })
        }
    }
    </script>
    </body>
</html>